@import "normalize.css"
@import "foundation.min.css"
@import "codemirror.css"


body
  font-size: 14px;
  line-height: 1.4;
  color: black;
  font-family: 'PT Sans', Tahoma, sans-serif;
  color: $text-color;

.main
   height: 100%;
   max-width: 100%;
   margin-bottom: -100px;

  & > .column
    height: 100%;
